@media screen and (max-width: 480px) {
  aside {
    float: left  !important;
    /* width: 90%; */
    max-width: 300px !important;
  }
  main {
    /* float: right; */
    width: 90% !important;
    /* max-width: 700px; */
  }

}
